#online li {
	cursor: pointer;
}
#offline li {
	cursor: pointer;
}

#chat {
	border: solid 1px;
	width: 100%;
	height: 80vh;
	overflow: auto;
	word-wrap: break-word;
}
#chatMessage {
	width: 100%;
	resize: none;
}

.column {
	float: left;
}
#online-column {
	width: 25%;
}
#chat-column {
	width: 65%;
}
